@font-face {
  font-family: 'GameFont';
  src: url('font.ttf') format('truetype');
}

body {
  background: url(img/background.jpg) center/cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 111%;
  user-select: none;
}

html {
  height: 90%;
}

.container {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: auto;
  grid-template-areas: "sidebar content-wrapper shop";
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 80%;
  gap: 20px;
}

.sidebar,
.additional-content,
.shop {
  background-color: black;
  color: white;
  margin: 20px; 
  box-shadow: 16px 0 black, -16px 0 black, 0 -16px black, 0 16px black, 4px 0 0 8px black, -4px 0 0 8px black, 0 -4px 0 8px black, 0 4px 0 8px black, 20px 0 white, -20px 0 white, 0 -20px white, 0 20px white, 0 0 0 12px white, 0 8px 0 8px white, 0 -8px 0 8px white, 8px 0 0 8px white, -8px 0 0 8px white;
}

.sidebar {
  grid-area: sidebar;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: content-wrapper;
}

.main-content,
.additional-content {
  color: #ffffff;
  text-align: center;
}

.main-content {
  padding: 20px;
}

.additional-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.item {
  padding: 10px;
}

.shop {
  grid-area: shop;
}

h1,
h2,
h3 {
  font-family: 'GameFont', Arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 45px;
  color: black;
  text-shadow: white 1px 0 10px;
}

h2 {
  font-size: 35px;
  color: floralwhite;
  text-shadow: black 1px 0 10px;
}

h3 {
  font-size: 18px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: white;
  height: 50px; 
  cursor: pointer;
  font-size: 18px;
}

li:hover{
  border: 1px solid white;
  font-size: 22px;
  padding: 10px;
}



.price {
  color: goldenrod;
  font-weight: bold;
  float: right;
}

.blob {
  margin-top: 30%;
}

.blob img {
  height: 80px;
  width: 80px;
  transition: all 0.3s;
}

.blob img:hover {
  height: 100px;
  width: 100px;
}

#blob-allies img.one{ 
  height: 60px;
  width: 60px;
  transition: all 0.3s;
  filter: invert(20%);
  position: fixed;
  top: 70%;  
  left: 40%;

}
#blob-allies img.two{ 
  height: 60px;
  width: 60px;
  transition: all 0.3s;
  filter: invert(20%);
  position: fixed;
  top: 70%;
  left: 45%;

}

.menu-list {
  margin-top: 30px;
}