.uk-card, nav{
  margin-top: 15px;
  box-shadow: 1px gray;
  border: 1px solid gray;
}

.uk-card {
  border-radius: 5px;
}

.uk-container {
  height: 100%;
  max-width: 1800px;
}

.uk-card-header {
  border-radius: 5px;
  padding: 8px;
  font-family: 'GameFont';
  background-color: lightgoldenrodyellow;
}

.uk-card-body {
  padding: 15px 15px;
}

.uk-button.uk-button-default {
  font-size: 20px;
  font-weight: bold;
  background: gold; 
}

