
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

img {
  image-rendering: pixelated;
}

.container {
  display: flex;
}


/* sidebar */

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar-content {
  margin-top: 20px;
}

.sidebar-content p {
  margin-bottom: 10px;
}

.navigation {
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

/* right sidebar */ 

#right-sidebar {
  background-color: #fff;
  flex-grow: 1;
  padding: 20px;
}


/* sections */

.section {
  margin-top: 20px; 
  margin-bottom: 20px;
  height: 200px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
}

/* minion */
/* shop */ 

#shop, #minions {
  height: 80%;
  overflow-y: scroll;
}

.shop-item {
  flex-basis: 100%;
  display: flex;
}

.shop-item img, .minion-item img {
  vertical-align: middle;
}

.shop-item span, .minion-item span {
  width: 10%;
  margin: 5px;
}

#minions .minion-name {
  font-weight: bold;
}

#minions .minion-level {
  font-style: italic;
}

#minions .minion-level::before {
  content: 'LVL ';
}

#minions img{  
  width: 65px;
  height: 65px;
  vertical-align: middle;
}

@media screen and (max-width: 900px) {
  .shop-item span {
    width: 20%;
  }
}

/* harvester */

#harvester {
  margin-top: 20px;
  display: flex;
}

.cosmo-stat {
  flex-basis: 25%;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.cosmo-Image {
  flex-basis: 75%;
  text-align: center;
}

.cosmo-Image img {
  height: 65px;
  width: 65px;

}

.clicker {
  cursor: pointer;
}

/* content */

#content {
  flex-grow: 1;
  padding: 20px;
}

.section-content {
  margin-top: 10px;
}

/* progress bar */

.animated-progress {
  width: 200px;
  height: 10px;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

.progress-blue span {
  background-color: blue;
}
.progress-green span {
  background-color: green;
}
.progress-purple span {
  background-color: indigo;
}
.progress-red span {
  background-color: red;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  #right-sidebar {
    margin-top: 20px;
  }
}


