@font-face {
  font-family: 'GameFont';
  src: url(../font/font.ttf);
}

@font-face {
  font-family: 'GameBody';
  src: url(../font/body.ttf);
}

html,
body {
  font-family: 'GameBody';
  user-select: none;
  background-image: url(../img/back/body.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 20px;
  font-family: 'GameFont';
  font-size: 30px;
  text-shadow: #FC0 10px 0 10px;
  display: block;
}

p {
  margin: 0;
}

button {
  padding: 10px 20px;
  border: none;
  transition: transform 0.3s;
}

button:active {
  transform: scale(0.95);
}

#auto-battle {
  float: right; 
}

.block {
  margin-bottom: 20px;
}

.AutoBattle {
  cursor: pointer;
}

.battle-result {
  background-color: #00000093;
  position: relative;
  animation: scrollRight 1s ease-out forwards;
}

.blob-menu {
  background-color: rgba(0, 0, 0);
}

.blob-menu-header {
  background-color: black;
  padding: 10px;
  height: 20px;
  color: white;
  font-size: 15px;
}

.blob-menu-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
  color: white;
}

.blob-menu-item img {
  height: 20px;
}

.blob-menu-item:hover {
  background-color: rgba(255, 230, 0, 0.425);
}

.blob-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

.content {
  width: 100%;
}

.blob-body {
  background: url('../img/back/hero-back.jpg');
  background-repeat: repeat-x;
  animation: slideleft 6000s infinite linear;
  height: 200px;
  display: flex;
}

.blob-body .hero-statistic {
  font-size: 15px;
  flex-basis: 40%;
}

.content-hero {
  flex-basis: 60%; 
}

@media screen and (min-width: 900px) {
  .content {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.blob-body .hero-statistic ul {
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
  height: 100%;
  margin: 0;
}

li {
  list-style: none;
  margin-left: -35px;
  margin-right: 5px;
}

.blob {
  text-align: center;
  height: 200px;
}

#blob-clicker {
  border: 3px solid black;
  box-shadow: 5px 10px 18px rgba(46, 45, 45, 0.452);
}

#map-container,
#modal-content {
  border: 3px solid black;
  box-shadow: 5px 10px 18px rgba(46, 45, 45, 0.452);
}

.blob img {
  height: 130px;
  margin-top: 45px;
  vertical-align: middle;
  cursor: pointer;
}

.blob img:hover {
  height: 132px;
}

.blob img:active {
  height: 135px;
}

@keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}

.adv img {
  width: 96px;
  height: 96px;
  margin-top: 50px;
  cursor: pointer;
  animation: complex-animation 1s ease-in-out infinite;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.adv img:hover {
  width: 99px;
  height: 99px;
}

.adv img:active {
  width: 103px;
  height: 103px;
}

.world1 .uk-card-body,
.world2 {
  background-repeat: no-repeat;
  background-size: cover;
}

.world1 .uk-card-body {
  background-image: url(../img/back/world1.png);
}

.blob-inventory {
  max-height: 200px;
  overflow-y: scroll;
}

.blob-inventory img,
.blob-shop img {
  height: 15px;
  vertical-align: middle;
  display: inline-block;
}

.blob-inventory span {
  font-size: 15px;
}

.shop-item-price {
  float: right;
}

.shop-item-nb::before {
  content: ' x ';
}

.shop-item-name {
  font-size: 12px;
}

@keyframes scrollRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes complex-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash-element {
  animation: flash 0.5s;
}

@keyframes fight-start {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fight-start-animation {
  animation: fight-start 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: fade-in 1s;
}

.event-end-result {
  color: white;
}

.battle-result {
  padding: 5px;
}

.battle-result p {
  margin-bottom: 10px;
}

.fight-start-animation h1 {
  font-size: 23px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#clicker-element #blob-clicker {
  background-color: black;
}

#adv-event-start {
  margin-top: 100px;
  text-align: center;
}

.adv-container {
  height: 200px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.adv-container.SacredStone {
    background-image: url(../img/back/SacredStone.jpg);
}

.adv-container.SacredForest {
  background-image: url(../img/back/SacredForest.jpg);
}

#adv_character,
.adv_start {
  flex-basis: 100%;
}

.battle-result {
  flex-basis: 30%;
  font-size: 12px;
}

.adv-hero {
  flex-basis: 70%;
}

.adv-hero img {
  height: 180px; 
  position: relative;
  animation: scrollLeft 1s ease-out;
  animation-fill-mode: forwards;
}

button {
  border: none;
  background-color: #FC0;
  font-size: 15px;
  padding: 5px;
  font-family: 'GameBody';
}

#close-map {
  float: right;
  cursor: pointer;
}

.white-background {
  background-color: white;
}

#hero-statistics li {
  margin-bottom: 1px;
}

.tooltip-text {
  visibility: hidden;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 99;
  padding: 5px;
  font-size: 12px;
}
