@font-face {
  font-family: 'GameFont';
  src: url(../font/font.ttf);
}

@font-face {
  font-family: 'GameBody';
  src: url(../font/body.ttf);
}

html,
body {
  font-family: 'GameBody';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url(../img/background.jpeg) !important;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 20px;
  font-family: 'GameFont';
  font-size: 30px;
  text-shadow: #FC0 10px 0 10px;
  display: block;
}

p {
  margin: 0;
}

.block {
  margin-bottom: 20px;
}

.blob-menu {
  background-color: rgba(216, 249, 253, 0.904);
  border-radius: 5px;
}

.blob-menu-header {
  background-color: rgba(255, 196, 0, 0.904);
  border-radius: 5px;
  padding: 10px;
  height: 20px;
}

.blob-menu-item {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
}

.blob-menu-item img{
  height: 20px;
}

.blob-menu-item:hover {
  background-color: aqua;
}

.blob-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

.content {
  width: 100%;
  flex-basis: 60%;
  margin-left: 10px;
  margin-right: 10px;
}

.blob-body {
  display : flex;
}

.blob-body .content-options {
  flex-basis: 20%;
}

.content-options button {
  margin: 10px;
}

.blob-body .content-hero {
  flex-basis: 80%;  
}

.right-sidebar {
  flex-basis: 40%;
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .blob-container {
    flex-wrap: wrap;
    padding: 20px;
  }

  .content,
  .right-sidebar {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

li {
  list-style: none;
  margin-left: -35px;
  margin-right: 5px;
}

.blob {
  text-align: center;
  height: 200px;
}

.blob img {
  width: 80px;
  height: 80px;
  margin-top: 75px;
  vertical-align: middle;
}

.blob img:hover {
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.blob img:active {
  width: 90px;
  height: 90px;
}

.adv img {
  width: 96px;
  height: 96px;
  margin-top: 50px;
  cursor: pointer;
  animation: complex-animation 1s ease-in-out infinite;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.adv img:hover {
  width: 99px;
  height: 99px;
}

.adv img:active {
  width: 103px;
  height: 103px;
}

.world1 .uk-card-body,
.world2 {
  background-repeat: no-repeat;
  background-size: cover;
}

.world1 .uk-card-body {
  background-image: url(../img/back/world1.png) !important;
}

.blob-inventory {
  max-height: 200px;
  overflow-y: scroll;
}

.blob-inventory img,
.blob-shop img {
  height: 15px;
  vertical-align: middle;
  display: inline-block;
}

.blob-inventory span {
  font-size: 15px;
}

.shop-item-price {
  float: right;
}

.shop-item-nb:before {
  content: ' x ';
}

.shop-item-name {
  font-size: 12px;
}

@keyframes complex-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash-element {
  animation: flash 0.5s;
}

@keyframes fight-start {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fight-start-animation {
  animation: fight-start 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: fade-in 2s;
}

.event-end-result {
  color: white; 
}

.battle-result {
  padding: 30px;
}
.battle-result p {
  margin-bottom: 10px;
}

.fight-start-animation h1 {
  font-size: 23px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#clicker-element #blob-clicker {
  background-image: url(../img/background.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#blob-level { 
  float: right;
}

#adv-event-start {
  margin-top: 100px;
}

.adv-container {
  height: 200px; 
  background-image: url(../img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; 
  border-radius: 5px;
}

button {
  border: none;
  background-color: #FC0;
  font-size: 20px;
  padding: 5px;
  font-family: 'GameBody'; 
}

#close-map {
  float: right;
  cursor: pointer;
}
