.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .close-modal{
    float: right;
    cursor: pointer;
  }
  
  .modal-content { 
    margin: 10% auto;
    max-width: 50%;
    box-sizing: border-box;
    color: white !important; 
  }

  #modal-body {
    min-height: 250px;
    padding: 20px;
    background-color: rgb(0, 0, 0); 
    display: flex;
  }

  #modal-hero {
    flex-basis: 50%;
  }

  #modal-hero img {
    height: 200px; 
  } 

  #modal-shop, #modal-weapon-shop {
    flex-basis: 50%;
    color: white;
  }
  
  
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 900px) {
    .modal-content {
      margin: 20px;
      max-width: 100%;
    }

    #modal-inventory .inventory-item{
      flex-basis: 30%;
      height: 70px;
      cursor: pointer;
    }
  }

  #modal-inventory {
    display: flex;
    flex-wrap: wrap;
  }

  #modal-inventory .inventory-item{
    flex-basis: 15%; 
    text-align: center;
    height: 60px;
    cursor: pointer;
    padding: 20px;
  }

  #modal-inventory .inventory-item:hover {
    background-color: rgb(0, 217, 255);
    color: black;
  }

  #modal-chest img {
    vertical-align: middle;
  }

  #modal-chest .chest-item, #modal-chest .chest-timer {
    padding: 20px;
  }

  .chest-timer {
    color: gold;
  }



  