.notification-container {
    position: fixed;
    top: 5%;
    left: 50%;
  }
  
  .notification {
    padding: 10px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    animation: fade-in 1s;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }